<!DOCTYPE html>
<html>
<head>
    <title><%= c %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h1><%= c %></h1>
<p>Welcome to About Page <%= a %></p>
</body>
</html>